
body {
	padding-top: 70px;
}

#code {
	min-height: 10px;
	margin: 5px 0;
}

#lineNumbers {
	float: left;
	margin-right: 10px;
	padding: 5px;
	border-radius: 5px;
	text-align: right;
	background-color: #eee;
}
